.output {
  background-color: #151327;
  color: #ed286a;
  font-weight: 400;
  font-size: 4rem;
  padding: 40px;
  text-align: left;
  hyphens: auto;
  height: 100vh;

  .outputText {
    hyphens: auto;
    margin: 0;
    line-height: 0.9;
  }
}
