.output {
  background-color: #151327;
  color: #ed286a;
  font-weight: 400;
  font-size: 4rem;
  padding: 40px;
  text-align: left;
  height: 100vh;
  width: 75%;
  word-break: break-word;

  .outputText {
    margin: 0;
    line-height: 0.9;
  }
}
