.outputOptions {
  background-color: #61132f;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
  width: 25%;
  padding: 40px;
  text-align: left;
  margin: 0;
}
