.container {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Gantari", sans-serif;
  line-height: 1;
  background-color: #61132f;
  min-height: 100vh;
}

.main {
  display: flex;
}
